<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center" class="logo">
      <img src="../../assets/logo.png"
    /></ion-title>
   
      <ion-icon
      style="margin-right: 15px; color: #f88205"
      name="notifications"
      slot="end"
      (click)="verNotificacoes()"
    ></ion-icon>
    
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <!--INICIO PARTE SUPERIOR-->
  <ion-grid class="cardinformacoes">
    <ion-row>
      <ion-item class="item">
        <ion-avatar>
          <img
            src="../../assets/perfil/62019562_1852147964886259_6818992646690701312_n.jpg">
        </ion-avatar>
        <ion-label (click)="meuPerfil()" style="margin-left: 10px; color: white"
          >Nivaldo Ferreira
          <p style="color: #472d91; font-size: 12px">
            <strong>Nivel roxo</strong>
          </p>
        </ion-label>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-label class="labelbotoes">
        <span (click)="irMeuCorpo()">
          <ion-icon name="flash-outline" slot="start"></ion-icon>MEU CORPO
        </span>
        <span (click)="irObjetivos()" style="margin-left: 5px">
          <ion-icon name="trophy-outline" slot="start"></ion-icon>OBJETIVOS E
          PESQUISAS
        </span>
      </ion-label>
    </ion-row>
  </ion-grid>

  <!--FINAL PARTE SUPERIOR-->

  <ion-grid>
    <ion-row (click)="verPersonalOnline()" class="titulomenu"
      ><strong>PERSONAL ONLINE</strong>
      <ion-icon
        name="add-circle-outline"
        style="color: orange; margin-left: 3px"
      ></ion-icon>
    </ion-row>

    <!--COMPONENTE VEM DA PASTA /COMPONENT/PICKUP-CALL-SLIDE-->
    <app-pickup-call-slide></app-pickup-call-slide>

    <ion-row (click)="verProgramas()" class="titulomenu"
      ><strong>PROGRAMAS</strong>
      <ion-icon
        name="add-circle-outline"
        style="color: orange; margin-left: 3px"
      ></ion-icon>
    </ion-row>

    <!--COMPONENTE VEM DA PASTA /COMPONENT/PROGRAMAS-->

    <app-programas></app-programas>
    <ion-row (click)="verProgramas()" class="titulomenu">
      <strong>CONTEÚDOS</strong>
    </ion-row>
    
        <!--COMPONENTE VEM DA PASTA /COMPONENT/CONTEUDO-->

    <app-redessociais></app-redessociais>
    
  </ion-grid>




</ion-content>
