<ion-slides [options]="option" class="ion-margin-top">

  <ion-slide>
    <ion-card (click)="irInstagram()">
      <img src="../../../assets/social/instagram-background.jpg">
      <ion-card-content style="color:white; transform: translateY(-180%);">
        <strong><ion-icon name="logo-instagram"></ion-icon>&nbsp;INSTRAGRAM</strong>

      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card (click)="irFacebook()">
      <img src="../../../assets/social/facebook-background.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card (click)="irYoutube()">
      <img src="../../../assets/social/youtube-background.jpg">
    </ion-card>
  </ion-slide>
</ion-slides>