<ion-slides [options]="option" class="ion-margin-top">

  <ion-slide>
    <ion-card (click)="irLevantamento()">
      <img src="../../assets/levantamento.jpg"Z>
      <ion-card-content style="color: white; transform: translateY(-100%);">
      
        <strong>LEVANTAMENTO DE PESO</strong>
        
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card (click)="irYoga()">
      <img src="../../assets/yoga.jpg">
      <ion-card-content style="color: white; transform: translateY(-100%);">
        
       
        <strong>YOGA</strong>
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card (click)="irCrossfit()">
      <img src="../../assets/crossfit.jpg">
      <ion-card-content style="color: white; transform: translateY(-100%);">
        
        
        <strong>CROSSFIT</strong>
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card (click)="irSpinning()">
      <img src="../../assets/spinning.png">
      <ion-card-content style="color: white; transform: translateY(-100%);">
        
        <strong>SPINNING</strong>
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card (click)="irNatacao()">
      <img src="../../assets/natacao.png">
      <ion-card-content style="color: white; transform: translateY(-100%);">
        
        <strong>NATAÇÃO</strong>
      </ion-card-content>
    </ion-card>
  </ion-slide>

</ion-slides>